@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}
html {
    /* @apply text-[14px]; */
}

body {
    @apply bg-black text-white;
    @apply font-light;
}
p {
    @apply text-xs;
    &.small {
        @apply text-xxs;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-light;
}
h1 {
    @apply text-3xl;
}
h2 {
}
h3 {
    @apply font-semibold text-sm;
}
